<header id="introHeader">
    <div class="introHeader-inner">
        <div class="logo">
            <a href="/" style="text-decoration: none;">garden.</a>
        </div>
        <div class="hamburger-menu-wrapper">
            <div class="hamburger-menu">
                <p>Hello, Andrei</p>
            </div>
        </div>
    </div>
</header>