<div class="menu_side_a">
  <div class="menu_side_a_links">
    <div>
      <a href="/thread">Forum</a>
    </div>
    <div>
      <a href="/myplants">MyPlants</a>
    </div>
    <div>
      <a href="/marketplace">Marketplace</a>
    </div>
    <div>
      <a href="/knowledgeBase">Knowledge Base</a>
    </div>
    <div>
      <a href="/photoRecognition">Photo Recognition</a>
    </div>
  </div>
</div>