@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
body {
  font-family: "Inconsolata", monospace;
}
.card__text {
  color: #303030;
  margin-left: 15px;
  margin-top: 85px;
  position: relative;
  font-family: "Inconsolata", monospace;
  font-size: 1.2vw;
}
.card {
  perspective: 150rem;
  position: relative;
  height: 10rem;
  max-width: 400px;
  margin: 2rem;
  box-shadow: none;
  background: none;
}
.card-side {
  height: 10rem;
  border-radius: 15px;
  transition: all 0.7s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  padding: 2rem;
  color: white;
}
.card-side.back {
  transform: rotateY(-180deg);
  background-color: #4158d4;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0, #ffcc70 100%);
  color: #303030;
  font-family: "Inconsolata", monospace;
  font-size: 1.3vw;
}
.card-side.front {
  font-family: "Inconsolata", monospace;
  color: #303030;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.card:hover .card-side.front {
  transform: rotateY(180deg);
}
.card:hover .card-side.back {
  transform: rotateY(0deg);
}
.visa {
  bottom: 20px;
  position: absolute;
  right: 40px;
  width: 20%;
}
