<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/forgot_pass.css" />
    <title>Forgot Password</title>
</head>
<body>
    {{> header}}
    <main>
        <div class="hidden-header"></div>
        <div class="main-inner">
            {{#if conMsg}}
                <div class="confirmation_message">
                    <h2>{{conMsg}}</h2>
                </div>
            {{else}}
            <div class="forgot_pass_form">
                <form action="/forgot" method="post">
                    <div class="email-input inputForm">
                        {{#if errorMsg}}
                        <p class="errorMessage">{{errorMsg}}</p>
                        {{/if}}
                        <label for="email">Please, enter your email</label>
                        <input type="email" name="email" id="email" maxlength="75" placeholder="test@email.com">
                    </div>
                    <div class="button">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
            {{/if}}
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="/js/utils/animation.js"></script>
</body>
</html>