<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPlants</title>
</head>
<body>
    <form>
      <label for="name">First name:</label><br>
      <input type="text" id="name" name="name" value="{{user.firstName}} {{user.lastName}}" disabled><br>
      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email" value="{{user.email}}" disabled><br>
      <label for="admin">Admin Status:</label><br>
      <input type="text" id="admin" name="admin" value="{{user.isAdmin}}" disabled><br>
    </form>
    <a href="/editUser">Edit User Information</a><br>
    <a href="/signout">Sign out</a>
</body>
</html>