@import "./components/__global__.css";
@import "./components/header.css";
main {
    z-index: 10;
    position: absolute;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    min-width: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.hidden-header {
    width:100%;
    position: relative;
    height: 10vh;
}

.main-inner {
    position: relative;
    width:100%;
    min-width: 100%;
    height: 90vh;
    display:flex;
    flex-direction: row;
}

.menu_side_a {
    position: fixed;
    left: 0;
    height:90vh;
    width:20%;
    border-right: #C4C4C4 0.3px solid;
}

.menu_side_a_links {
    margin-top: 15em;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.menu_side_a_links div {
    width:85%;
    margin: 2em auto;
    border-bottom: #C4C4C4 0.3px solid;
}

.menu_side_a_links a {
    font-size: 2rem;
    font-weight: 500;
}

.menu_side_b {
    position: fixed;
    right: 0;
    height: 90vh;
    width:20%;
    border-left: #C4C4C4 0.3px solid;
}

.menu_side_b_links {
    margin-top: 15em;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.menu_side_b_links div {
    width:85%;
    margin: 2em auto;
    border-bottom: #C4C4C4 0.3px solid;
}

.menu_side_b_links a {
    font-size: 2rem;
    font-weight: 500;
}

.news_feed {
    position: absolute;
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%,0); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
    width:60%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article_card {
    height: 800px;
    width: 80%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    border-top: 0.5px #C4C4C4 solid;
    border-bottom: 0.5px #C4C4C4 solid;
}

.article_card_header {
    flex: 1;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.article_card_header_title h1 {
    font-size: 3rem;
    font-weight: 600;
}

.article_card_header_info {
    font-size: 2rem;
    font-weight: 400;
}

.article_card_image {
    flex: 3;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: 2rem 0;
}

.article_card_image img {
    object-fit: cover;
    width:90%;
    height:400px;
    border-radius: 20px;
}

.article_card_description {
    flex: 2;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.article_card_description p {
    flex: 2;
    font-size: 1.5rem;
    font-weight: 400;
}

.article_card_description a {
    flex: 1;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: underline !important;
}

.article_card_footer {
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.article_card_footer_votes {
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.article_card_footer_votes p {
    font-size: 2rem;
    font-weight: 400;
}

.article_card_footer_votes button {
    width: 20%;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    border: 0.3px #4A4A4A solid;
}

.article_card_footer_edit_remove_options {
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.article_card_footer_edit_remove_options button {
    width: 20%;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    border: 0.3px #4A4A4A solid;
}

