@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color:black;
}
/* Tablet */
@media only screen and (max-width: 1024px) {
    html {
        font-size: 60%;
    }
}
@media only screen and (max-width: 834px) {
    html {
        font-size: 50%;
    }
}
/* Mobile */
@media only screen and (max-width: 414px) {
    html {
        font-size: 40%;
    }
}
@media only scree and (max-width: 350px) {
    html {
        font-size: 15%;
    }
}