/* Header */
#introHeader {
    right: 0;
    left: 0;
    top: 0;
    z-index: 15;
    position: fixed;
    height: 12vh;
    width:100%;
    min-height: 12vh;
    background-color: #1B4332;
}
.introHeader-inner {
    z-index: 15;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    min-height: 12vh;
    height: 12vh;
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo a {
    font-size: 5rem;
    font-weight: 500;
    color: #f8f9fa;
    letter-spacing: 0.75rem;
}
/* Menu */
.menu {
    visibility: hidden;
    position: absolute;
    opacity: 1;
    top: 10;
    right: 0;
    margin: 8px 0;
    z-index:17;
}
.menu > nav {
    display: flex;
    flex-direction: column;
    background: #C9C9C9;
    border-radius: 16px;
}


.menu-inner {
    display: flex;
    flex-direction: column;
    margin: 8px 16px;
}

.menu-inner > a {
    color: black;
    font-weight: 400;
    font-size: 1.3rem;
    transition: color 0.3s ease-in-out,
                font-size 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 8px;
}
.menu-inner > a:hover {
    color: #EAEAEA;
}

.hamburger-menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.hamburger-menu p {
    text-align: end;
    margin: 0;
    font-size:2rem;
    font-weight: 500;
    color: #f8f9fa;
    letter-spacing: 0.3rem;
    margin-top: 20px;
}
/* Menu end */
/* Header End ------------- */
@media only screen and (max-width: 1024px) {
    .logo a {
        font-size: 3.5rem;
    }
    .menu-inner a {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 414px) {
    .menu-inner a {
        font-size: 2rem;
    }
}